In [1]:
import pandas as pd 
import sklearn 
import numpy as np

In [7]:
fn = '../../data/official/unspsc_71k/unspsc_71k_2016.csv'
with open(fn) as f:
    print(f)

<_io.TextIOWrapper name='../../data/official/unspsc_71k/unspsc_71k_2016.csv' mode='r' encoding='UTF-8'>

In [8]:
df = pd.read_csv(fn, encoding='UTF-8')

In [10]:
df.head(4)

,Segment,Segment Name,Family,Family Name,Class,Class Name,Commodity,Commodity Name
0,10000000,Live Plant and Animal Material and Accessories...,10100000,Live animals,10101500,Livestock,10101501,Cats
1,10000000,Live Plant and Animal Material and Accessories...,10100000,Live animals,10101500,Livestock,10101502,Dogs
2,10000000,Live Plant and Animal Material and Accessories...,10100000,Live animals,10101500,Livestock,10101504,Mink
3,10000000,Live Plant and Animal Material and Accessories...,10100000,Live animals,10101500,Livestock,10101505,Rats

In [11]:
df.tail(4)

,Segment,Segment Name,Family,Family Name,Class,Class Name,Commodity,Commodity Name
71498,95000000,Land and Buildings and Structures and Thorough...,95140000,Prefabricated buildings and structures,95141900,Prefabricated medical buildings and structures,95141901,Medical unit
71499,95000000,Land and Buildings and Structures and Thorough...,95140000,Prefabricated buildings and structures,95141900,Prefabricated medical buildings and structures,95141902,Laboratory unit
71500,95000000,Land and Buildings and Structures and Thorough...,95140000,Prefabricated buildings and structures,95141900,Prefabricated medical buildings and structures,95141903,Dental unit
71501,95000000,Land and Buildings and Structures and Thorough...,95140000,Prefabricated buildings and structures,95141900,Prefabricated medical buildings and structures,95141904,Surgical units